<nav class="menu">
    <a href="http://localhost:3000/{{accType}}" class="menu__item" data-tooltip="Map">
        <i class="material-icons">map</i>
    </a>
    <a href="http://localhost:3000/{{accType}}/info" class="menu__item" data-tooltip="Information">
        <i class="material-icons">info</i>
    </a>
    <a href="http://localhost:3000/account/logout" class="menu__item" data-tooltip="Logout">
        <i class="material-icons">logout</i>
    </a>
</nav>
